.map {}

.map-row {
  display: flex;
  flex-flow: row nowrap;
}

.map-node {
  width: 250px;
  height: 250px;
  border: solid 1px black;
  font-size: 10px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;


}

.map-node>* {
  border: solid 1px black;
}

.transport-price-indicator {
  width: 50px;
  height: 50px;
  background-color: red;
}

.x-y {
  border: solid 1px black;
  display: inline-block;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.local-control {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.local-control>h4 {
  flex: 1 0 100%;
}